@import 'tailwindcss';

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;

  --color-background: #141414;
  --color-surface: #202020;
  --color-accent: #acbac4;
  --color-foreground: #ffffff;
  --color-border: #2a2a2a;

  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;

  --padding-xs: 0.1rem;
  --padding-sm: 0.25rem;
  --padding-md: 0.5rem;
  --padding-lg: 1rem;
  --padding-xl: 2rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --font-size-small: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 2.5rem;
}

/* Default CSS  */
:root {
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  line-height: 1.4;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);

  color-scheme: light dark;
  color: var(--color-foreground);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-accent);
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--font-size-3xl);
}

h2 {
  font-size: var(--font-size-2xl);
}

h3 {
  font-size: var(--font-size-xl);
}

a {
  color: var(--color-accent);
}

a:hover {
  text-decoration: underline;
}

address {
  color: var(--color-accent);
}

blockquote {
  border-left: 2px solid var(--color-accent);
  padding-left: var(--padding-lg);
}

button {
  background-color: var(--color-surface);
  color: var(--color-foreground);
  border: 1px solid var(--color-border);
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--border-radius-md);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: var(--color-border);
  color: var(--color-foreground);
}

code {
  background-color: var(--color-surface);
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--border-radius-sm);
  color: var(--color-accent);
  font-family: monospace;
}

input {
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--border-radius-md);
  transition: background-color 0.3s ease;
}

input:focus {
  outline: none;
}

mark {
  background-color: var(--color-accent);
  padding: var(--padding-xs) var(--padding-sm);
  border-radius: var(--border-radius-sm);
}

li {
  list-style-type: disc;
  margin-left: var(--padding-xl);
}

sub,
sup,
time,
footer,
s,
q {
  color: var(--color-accent);
}

textarea {
  border: 1px solid var(--color-border);
  background-color: var(--color-surface);
  padding: var(--padding-md) var(--padding-lg);
  border-radius: var(--border-radius-md);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
}

textarea:focus {
  outline: none;
}

textarea::placeholder {
  font-style: italic;
}
